<div class="row ">
    <mat-toolbar color="white">
        <span>Admin Panel</span>
        <div class="spacer"></div>
        <div class="right-header-wrapper">
            <a mat-button color="secondary">Admin Portal</a>
            <a mat-button color="secondary">
                <mat-icon fontIcon="search"></mat-icon>
            </a>
            <a mat-button color="secondary">
                <mat-icon fontIcon="shopping_cart"></mat-icon>
            </a>
            <a mat-button color="secondary">
                <mat-icon fontIcon="chat_bubble_outline"></mat-icon>
            </a>
            <a mat-button color="secondary">
                <mat-icon fontIcon="notifications"></mat-icon>
            </a>
            <a mat-button color="secondary"><img style="border-radius: 50%;height: 35px;"
                    src="https://www.w3schools.com/howto/img_avatar.png"
                    alt=""></a>
        </div>

    </mat-toolbar>
</div>